.pagination {
    display: flex; 
    justify-content: center;
    margin-top: auto; 
}

.pagination-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

.pagination-list li {
    margin: 0 5px; 
}

.page-item {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px;
}

.page-item.active {
    background-color: #0056b3; 
}

.page-item:hover {
    background-color: #0056b3; 
}