.tasks{
    height: 95%;
    display: flex;
    flex-direction: column;
}

.task-list {
    list-style-type: none; 
    padding: 0; 
}

.task-header{
    display: flex;
    justify-content: space-between;
}

.task-item {
    font-size: 18px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 15px; 
    margin-bottom: 10px; 
    display: flex; 
    flex-direction: column; 
}

.task-username {
    font-weight: bold;
}

.task-email {
    color: #555; 
}

.task-status {
    font-size: 16px; 
    color: #aaa; 
    align-self: flex-end; 
}

.task-text {
    font-size: 20px; 
}

.task-block{
    margin-top: 10px; 
    display: flex;
    justify-content: space-between;
}

.edit-btn{
    background-color: #007bff;
    color: white; 
    border: none; 
    padding: 8px 12px;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 14px;
}

.edit-btn:hover{
    background-color: #0056b3;
}

.status-block{
    display: flex;
    flex-direction: column;
}

.sort-buttons{
    margin-bottom: 20px;
}

.sort-buttons button{
    font-weight: bold;
    margin: 0 5px;
}